
  <div x-data="{ count: 0 }" x-modelable="count" x-model="number"><h1>Home</h1>
    <button @click="count++" class="bg-cyan-800 text-cyan-100 px-4 py-2 rounded">Increment</button>
    Number: <span x-text="number"></span>
  </div>